[2021-04-20 14:55] jackhump opened #19 "IndexError: list index out of range"
Hi all, I was recommended to try out Isoquant by Anoushka Joglekar. I have 30 Isoseq runs (~90M FLNC reads total) so I'm looking for a way to process them all together to produce a merged GTF and a count matrix.  The package looks great and the documentation is really clear.

I'm using as input FLNC BAM files produced by isoseq3, aligned to hg38 and sorted with pbmm2 using default isoseq settings.

[2021-04-20 20:04] andrewprzh commented on #19
Dear Jack!
Thank you for your report!

This error seems very odd, since sorted_blocks are basically read exons and "index out of range" suggests that they are empty.
Do you know whether your BAM files contain CIGAR strings?

In any case, such cases should be handled in a more user-friendly way.
Could you send me a minimal BAM file that, as you indicated, reproduces the error?
You can send them her

[2021-04-20 20:29] jackhump commented on #19
aha, I was having a similar error with TALON, as the BAM files are aligned with pbmm2 which uses the new X/= format for CIGAR strings rather than the older "M" for mapping.

I've emailed you the minimal BAM file.

[2021-04-20 22:39] andrewprzh commented on #19
Thanks for the data!

Yes, exactly, this was the reason.
Here is the fix https://github.com/ablab/IsoQuant/commit/88393fec19a34e38729d2be6d15b29811168a5a0
Currently this fix is in master branch, but I'll make 1.2.1 bugfix release soon. 1.3 will come some time later.

Unrelated, --check_canonical might also be a bit buggy, so 1.2.1 will include that fix as well.

Best
Andrey

[2021-04-20 23:25] jackhump commented on #19
You're a star, thank you! I'll try it out.

On Apr 20, 2021 6:40 PM, Andrey Prjibelski ***@***.***> wrote:

Thanks for the data!

Yes, exactly, this was the reason.
Here is the fix 88393fe<https://github.com/ablab/IsoQuant/commit/88393fec19a34e38729d2be6d15b29811168a5a0>
Currently this fix is in master branch, but I'll make 1.2.1 bugfix release soon. 1.3 will come some time later.

Unrelated, --ch

[2021-04-21 11:04] andrewprzh commented on #19
Dear Jack

Released 1.2.1 https://github.com/ablab/IsoQuant/releases/tag/v1.2.1
Should be on conda now as well https://github.com/bioconda/bioconda-recipes/pull/28131

[2021-04-21 15:33] jackhump commented on #19
Dear Andrey,

Thanks for the fixes. My minimal example BAM (for chr21) successfully completed. However, running on an entire sample it still failed. I have traced it down to another minimal example on chr1. I tried running on unmapped reads, alternate contig chromosomes, mitochondrial chromosomes, all passed.

Here is the error:

[code]

I've emailed you the BAM file for you to check out. Thanks f

[2021-04-22 17:22] andrewprzh commented on #19
Thanks for the data!
Sorry, my bad - was did not fix usage of =/X completely. I updated 1.2.1 version and submitted it to bioconda, should be there after a while. Hope this time everything should be fine :)
Unfortunately, your previous run with 1.2.1 is buggy and doesn't make much sense.. Sorry for that.

I'll let you know once release is accepted on bioconda.

Best
Andrey

[2021-04-22 19:11] jackhump commented on #19
Hi Andrey,

just to confirm, did the second test BAM file I sent now run without errors with your latest version?

[2021-04-23 08:32] andrewprzh commented on #19
Dear Jack

Yes, it works fine on both. I should've checked results the first time to realize they don't make sense. Now they seem ok.

Bioconda accepted my PR, but since release number remains the same (1.2.1), I'm not sure whether it will be upgraded simply by running conda install or you'll need to install from new environment.

Let me know if any other problems arise!

Best
Andrey

[2021-05-04 21:23] jackhump commented on #19
Hi Andrey,

Thanks for all your help!

I got Isoquant to run successfully over the weekend on all 30 samples.  If you're curious for benchmarking, with 8 threads it took 75 hours to process 88M total reads, with a peak memory usage of 135GB.  I now have output files for each sample, as well as a combined transcript and gene count table for the 30 samples together.

However, I'm not sure how to pro

[2021-05-05 12:26] andrewprzh commented on #19
Hi Jack

Thank you for performance stats! I'm currently working on this matter and expect next version to consume significantly less RAM.

IsoQuant generates 2 files with transcript counts:
SAMPLE_ID.transcript_counts.tsv - counts for reference isoforms (original IDs)
SAMPLE_ID.transcript_models_counts.tsv - counts for constructed transcript models (new IDs, includes both known and novel)
You can

[2021-05-05 16:07] jackhump commented on #19
I see, so you propose I run it first on a concatenated BAM file of all the samples to get a single merged GTF, and then run a second time with samples separated to get a transcript count table that includes all the novel counts.

This seems quite inefficient, no?

What about if I set read groups in the concatenated BAM file where each sample has its own read group? Would then using the `--read_gro

[2021-05-05 19:01] andrewprzh commented on #19
In fact, you don't need to concatenate all BAM files, you can simply create a text file listing all of them (one per line, no blank lines) and it provide via --bam_list. They all will be treated as a single sample and a single merged GTF will be created.

Yes, you are right about inefficiency. Unfortunately, current functionality does not allow to count novel isoforms by file of origin / read grou

[2021-05-05 22:55] andrewprzh commented on #19
After thinking a bit I think there are 2 relatively easy ways:
1. There is file called SAMPLE.transcript_models_reads.tsv which contains ids of all reads assigned to an isoform (both known and novel). So once you have merged GTF from all samples you can derive counts from this file based on read ids (as you know which read comes from which file).
2. I realized that implementing grouped counts for

[2021-05-06 15:44] jackhump commented on #19
I see. So in my first run I used the following command, forgive the curly braces for snakemake:
[code]

So in this case I provided a list of BAM files and a set of labels, which were the sample IDs.  So if I run this command without the `--labels` argument would isoquant create a single combined GTF?

[2021-05-06 17:16] andrewprzh commented on #19
BAM file list is interpreted as follows: BAM files on consecutive lines are treated as a single sample, and blank lines are used for sample separation. E.g.
[code]
I guess you did everything right since the number of labels should be equal to the number of sample (IsoQuant should check it).
Thus, if you remove blank lines you should get a combined GTF for all BAMs.

I cannot say for sure, but I gu

[2021-05-10 08:27] simoncchu opened #20 "IndexError: list index out of range"
I met this issue while I am trying on a plant genome:
[code]

Also, before this there are some warnings like:
[code]
and if I search "EVM0041976" in my `gff3` file I got:
[code]

This is the command I used:
[code]

Any suggestions? Thank you a lot.

[2021-05-11 11:37] andrewprzh commented on #20
Hi!

Annotation files are processed with gffutils lib, so my guess is that in doesn't see gene_id/transcript_id for these exons.
Could you share some data so I can verify the problem?
For data sharing you can contact me directly via email in the profile.

Best
Andrey

[2021-05-24 09:34] simoncchu commented on #20
Updated version solved the issue. Thank you for all the help!

[2021-05-24 09:34] #20 closed

[2021-05-24 11:11] andrewprzh commented on #20
Thank you for your feedback!

Fixed in https://github.com/ablab/IsoQuant/releases/tag/v1.2.2, available from bioconda as well.

[2021-08-24 19:56] cleopatraface opened #21 "Again : Cannot recognize the spectrum ID Spectrum :)"
Hi,
I am sorry I am posted the same issue twice, but I think I understand the problem better and may need some help to fix it.

I receive this message when I use IonQuant.
It creates the quant.csv files ( even quantbin) but it can't update the protein.tsv
In my code, I run IonQuant in the working directory where all integrated the report files are present. ( for PSM , I concatenated all the PSM fr

[2021-08-25 05:55] andrewprzh commented on #21
Hi, this is github of IsoQuant, not IonQuant (nothing in common), please address this issue to their support :)

[2021-08-25 05:55] #21 closed

[2021-10-14 12:09] andrewprzh commented on #19
Hi!

Took a bit more, than expected:)
In IsoQuant 2.0 you can add `--read_group file_name` and it will create an expression table with a separate column for each replica within the sample. You can also add a label for each replica using colon, e.g.

[code]

The resulting GTF will be constructed from all 3 files, and the expression table will contain 3 columns: R1, R2, R3.

Yes, it will not create

[2021-10-14 12:09] #19 closed

[2022-01-10 13:14] obegik opened #22 "How does isoquant assign isoforms in nanopore run where 5'ends are degraded?"
Hi,

Could you please clarify how the reads are assigned when there is more than one isoform that would match the read (i.e. because 5' ends have not yet been sequenced for that read, making the assignment difficult).

Also, it is a bit unclear from the GitHub documentation how the read-to-isoform algorithm decides which isoform is the one that a given read corresponds to.

Thanks,
Oguzhan Begik

[2022-01-10 14:04] andrewprzh commented on #22
Dear Oguzhan Begik

Thank you for your question! We are currently working on the manuscript, which we hope will be available soon.

In brief, IsoQuant mainly relies read's intron chain and matches it against intron chains of known isoforms (in fact, exon coverage is also used but only as a supplementary information):
- If read's intron chain matches to a single known isoform, it is reported as uni

[2022-01-11 11:25] obegik commented on #22
Dear Andrey,

Thanks for your prompt response. They have been very helpful.

Best,
Oguzhan

[2022-03-10 19:13] danledinh opened #24 "Samtools sort error resolved with v1.14"
Got this error:
[code]
Used samtools v1.14 in different conda env to successfully sort xxx.sam intermediate file in `aux` directory. The resultant xxx.bam file was used as input to the pipeline (using --bam flag) with no other errors.

Perhaps, you can update your conda requirements to include an updated samtools version?

[2022-03-11 13:07] andrewprzh commented on #24
Thanks a lot for the suggestions! I've updated the dependency versions and submitted a PR to bioconda
https://github.com/bioconda/bioconda-recipes/pull/33628

Best
Andrey

[2022-03-13 11:59] #24 closed

[2022-03-21 09:39] zhou-ran opened #25 "Confusion with results of exon quantification."
Hi all,

I tried to use IsoQuant to process my nanopore with count_exons mode, but some of exon was come from multiple genes in `exon-counts.tsv` file. like below

[code]

In full length sequence, we've known that each exon originates from which gene. Maybe we could quantify the expression of exon more precisely after we assigned identity of each read?

Thanks
Ran

[2022-03-22 17:23] andrewprzh commented on #25
Dear Ran

Unfortunately, current exon/intron quantification method is quite naive - it doesn't account the specific isoform the read was assigned to. The exon count table simply shows which genes include the exon and how many reads cover it (regardless of the assigned gene).

Currently, the possible ways to derive gene-specific exon counts are
- to use .read_assignments.tsv that provides informati

[2022-03-23 01:46] zhou-ran commented on #25
Hi Andrey,

Thank you for your time and i look forward to your new release.

Cheers
Ran

[2022-03-23 01:46] #25 closed

[2022-04-27 19:35] andrewprzh commented on #22
Hi, the preprint is now available at https://www.researchsquare.com/article/rs-1571850/v1

Best
Andrey

[2022-04-27 19:35] #22 closed

[2022-05-18 09:51] samuelecancellieri opened #27 "Problem with db creation from gencode gtf"
Hi,
I'm receiving this error when the software starts the generation of the db from the gencode gtf.

Traceback (most recent call last):
  File "/home/samuele.cancellieri/.conda/envs/rna-seq/bin/isoquant.py", line 486, in <module>
    main(sys.argv[1:])
  File "/home/samuele.cancellieri/.conda/envs/rna-seq/bin/isoquant.py", line 480, in main
    run_pipeline(args)
  File "/home/samuele.cancellieri

[2022-05-18 10:31] andrewprzh commented on #27
Dear Samuele

This looks like a problem in SQLite, which is used for gene database storage. It seems that this particular database is locked (e.g. some other database connection is active). So it's not an IsoQuant bug as well :)

Could you try running IsoQuant again with --clean_start option? If it doesn't help you may also try restarting you bash session.
Let me know if any of those works.

Best

[2022-05-18 10:49] samuelecancellieri commented on #27
I will try with the clean_start, thanks.
But the db is generated by isoquant, is not already in the directory, I just give a gtf as input.

I will let you know.
Thanks.

[2022-05-18 10:56] andrewprzh commented on #27
Yes, but if this GTF was previously converted, IsoQuant will detect the .db file and use to avoid unnecessary conversion.

Best
Andrey

[2022-05-18 12:18] samuelecancellieri commented on #27
Hi @andrewprzh,
I've tried removing the out_dir and recomputing from scratch with the clean option.
But I get the same error.
The db file is not present, and it's generated by isoquant in the out_dir and if I understood correctly this is done when no db is found to use.
The software was installed with conda, and it's version 2.2.1.

Attached
[isoquant.log](https://github.com/ablab/IsoQuant/files/8

[2022-05-18 12:49] andrewprzh commented on #27
@samuelecancellieri

From what I read on the similar issues, it seems that SQLite doesn't allow to create or write into a database on a remote storage, i.e. NFS share. I presume you are using the one for the output folder, right?
`--output /shares/CIBIO-Storage/GROUPS/sharedNB/gtex_out/out_isoquant/`

If so, I'd suggest to use another output disk if possible. If you have limited space you may also

[2022-05-19 17:10] imilenkovic opened #28 "assignment of inconsistent reads"
Hello,

Thanks a lot for developing this very handy tool!

I have one question regarding the assignment of reads. In my output folder, I took a look at the file.transcript_tpm.tsv file and saw the TPM values for some of my transcripts of interest. I then looked at the file.read_assignments.tsv and saw that there are quite a few reads that were associated to some of the transcripts that had 0 TPM.

[2022-05-19 22:31] andrewprzh commented on #28
Dear Ivan

Thank you for the feedback!

Inconsistent reads are considered to be potential novel alternatively spliced isofoms. In read_assignment.tsv file these reads are assigned to the most similar reference isoform, but still have major differences (i.e. extra exons, extra introns, alternative donor/acceptor sites etc). Most likely, they do not originate from the assigned reference transcripts

[2022-05-19 23:05] imilenkovic commented on #28
Dear Andrey,

Thanks a lot for you answer.

This is an example from the read assignment file:

[code]

In this case, if the read is not counted because of the alternative poly A site, I would rather keep it than discard it - would this make sense?

Thanks a lot in advance!

Best,
Ivan

[2022-05-20 11:15] andrewprzh commented on #28
Dear Ivan

Yes, I agree, reads with alternative polyA or TSS that have the matching intron chain can be treated as the ones belonging to the reference isoform. But keep it in mind when you get to biological interpretation step :)

I'll try to implement this feature and make a new release during next week - will keep you updated.

Best
Andrey

[2022-05-22 16:23] imilenkovic commented on #28
Dear Andrey,

That sounds great, please let me know when you make the new release :) thank you very much!

Best,
Ivan

[2022-05-23 08:59] samuelecancellieri commented on #27
Hi @andrewprzh
thanks a lot for the support, i managed to generate a correct db and the execution of isoquant worked fine with the alignment phase.
but after that, i receive this error (attached log file).
can you help me with that? the db is on a non-shared hard drive and was created starting from a gencode annotation gtf (http://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/latest_release/ge

[2022-05-23 15:51] andrewprzh commented on #27
Dear @samuelecancellieri

I've never seen this error before. This is very odd, especially taking into account that sample 1 was successfully processed with the same database. From what I read it may possible be raised by lack of RAM.

I cannot guarantee the success, but you may try the following to reduce RAM consumption:
- Reduce the number of threads
- Use CHR Gencode annotation (https://www.gen

[2022-05-24 07:44] samuelecancellieri commented on #27
Hi @andrewprzh
thanks for the fast answer.

I will try by reducing the threads and giving more RAM to the job.
But I've checked the annotation and the difference between the primary one and the reference, it's less than a thousand lines.

A question on the restart, it's possible to avoid the alignment phase?
Since I have all the alignments in the out directory, there's a way to avoid that phase?

[2022-05-24 09:08] andrewprzh commented on #27
@samuelecancellieri

I see, then changing GTF won't make a big difference. Chr reference has also a smaller FASTA file (which is loaded into the memory), but I doubt it will have a huge impact as well since each chromosome is loaded in a separate thread.

Yes, if you provide previously aligned FASTQs, IsoQuant should detect corresponding BAM files automatically and skip the alignment step. This is

[2022-05-25 12:55] kudasonya opened #30 "KeyError: 'novel'"
Hello,

I am trying to run IsoQuant on some premapped ONT data. Could you please help me resolve this error I'm getting?

[code]

[2022-05-25 12:57] andrewprzh commented on #30
Hi @kudasonya

I believe this issue was fixed in version [2.2.2 ](https://github.com/ablab/IsoQuant/releases/tag/v2.2.2). Could you try it please?
Should be available via conda as well.

Best
Andrey

[2022-05-25 13:15] kudasonya commented on #30
Thank you for a quick response @andrewprzh! I will try that.

[2022-05-27 09:51] andrewprzh commented on #28
Dear @imilenkovic

I've released the new version 2.3.0: https://github.com/ablab/IsoQuant/releases/tag/v2.3.0 (should be available via bioconda by now).
You can run IsoQuant with `--transcript_quantification with_inconsistent`. Should perform as we discussed.

Best
Andrey

[2022-05-27 09:53] andrewprzh commented on #27
@samuelecancellieri

For future runs, IsoQuant now has additional option `--genedb_output` for setting a separate folder for gene database in case main output folder is on shared disk. Thank you for your report!

Best
Andrey

[2022-05-27 11:12] imilenkovic commented on #28
Hi Andrey,

Thanks a lot for this, I'm looking forward to try it out! What is the easiest way to install the new release - can I do it through conda?

Best,
Ivan

[2022-05-27 11:43] andrewprzh commented on #28
Ivan

Yes, bioconda pull request was approved just recently so 2.3.0 should be available on conda by now.

Best
Andrey

[2022-05-27 14:09] imilenkovic commented on #28
Hey Andrey,

I made a new conda environment I called isoquant_new:
`conda create -c conda-forge -c bioconda -n isoquant_new python=3 isoquant`

and when I activated the new environment and tried running the software, it gave me this error:
`isoquant.py: error: unrecognized arguments: --transcript_quantification with_inconsistent`

Should I install it in a different way?

Best,
Ivan

[2022-05-28 14:42] andrewprzh commented on #28
Hi Ivan

Seems that conda still has previous version 2.2.2, probably will take couple days to update.
Alternatively you can download the release https://github.com/ablab/IsoQuant/releases/tag/v2.3.0 or clone the repository.

Best
Andrey

[2022-05-30 19:50] samuelecancellieri commented on #27
hi @andrewprzh
thanks a lot for the update and the new flag.

right now the software is working fine, but reducing the used thread from 40 to 20, increase a lot the execution time.
the script is running in the cluster for more than 5 days and the first sample is not completely analized.
this is the command i used (i've redone the alignment to make sure everything worked fine from the beginning)

i

[2022-05-31 12:10] andrewprzh commented on #27
Hi @samuelecancellieri

That's unusual. Using 20 threads allowed me to process datasets with 100M+ reads within a day. How large is your dataset?
Could you send me log, please?

The only option that can lead to minor slowdown is `--sqanti_output`, but I doubt it has a drastic effect.

Can also be a I/O issue, like a slow disk read/write speed. Could be a bug that leads to stalling, but I have neve

[2022-06-05 13:55] zhou-ran commented on #20
Hi,
I meet this error in IsoQuant 2.2.1 for processing gtf file download from https://ftp.ensembl.org/pub/release-101/gtf/drosophila_melanogaster/Drosophila_melanogaster.BDGP6.28.101.gtf.gz

[code]

Ran

[2022-06-05 14:14] andrewprzh commented on #20
Dear Ran

This seems like a different issue from the first look. Could you please submit a new issue and attach a full isoquant.log file?

Best
Andrey

[2022-06-05 14:16] andrewprzh commented on #28
Hi Ivan

The second read has a different intron chain (i.e. alternative_structure_novel:114734208-114736777), so it won't be counted anyway.

The first one has also fake_terminal_exon_3 event, but it should not be treated as read belonging to a novel isoform. I agree this one should be included. I'll do some more checks on my changes and get back.

Best
Andrey

[2022-06-05 14:44] zhou-ran opened #31 "IndexError: list index out of range"
Hi Andrey,

Thanks for you quick response.

I meet this error in IsoQuant 2.2.1 for processing gtf file download from https://ftp.ensembl.org/pub/release-101/gtf/drosophila_melanogaster/Drosophila_melanogaster.BDGP6.28.101.gtf.gz, here is the log file

[code]

here is the error

[code]

 then i found the gene (FBgn0013687) caused index error, and after skip this gene for creating db file, isoquant

[2022-06-06 00:11] andrewprzh commented on #31
Dear Ran

Thanks a lot for the data and all the information - that made it way easier to understand the problem!

Yes, you are right about the parsing. From what I see the problem arises in gffutils library, which is used from parsing GTFs. For some reason (most likely to avoid duplicating IDs in the database), gffutils changes transcript id from `FBgn0013687` to `FBgn0013687_1`, because its paren

[2022-06-06 01:51] zhou-ran commented on #31
Hi Andrey,

Thanks for your time and effort

Cheers,
Ran

[2022-06-06 01:51] #31 closed

[2022-06-06 08:14] samuelecancellieri commented on #27
hi @andrewprzh
sorry for the late response.

here the command, later in the past week the command return a core dumped error on the cluster, so now i'm testing it on a single server, maybe something is not working properly on the cluster.

Command line: /home/samuele.cancellieri/.conda/envs/rna-seq/bin/isoquant.py --output /shares/CIBIO-Storage/GROUPS/sharedNB/gtex_out/out_isoquant/ --genedb /home

[2022-06-06 10:24] andrewprzh commented on #27
Hi @samuelecancellieri

The command line looks OK. I'm not sure `--matching_strategy precise` gives the best results for ONT reads - I'd recommend stick to default one, but this should not lead to an error. Core dump sounds like a failure in some internal library. Do you have the log and the error message from failed run?

Best
Andrey

[2022-06-06 10:34] andrewprzh commented on #31
Hi Ran

According to https://mblab.wustl.edu/GTF22.html, it seems that `gene_id` and `transcript_id` should be globally unique, so it's weird how they got in the official annotation.

Best
Andrey

[2022-06-06 11:05] zhou-ran commented on #31
Hi Andrey,

Thanks again.

Yes, It's not a bug for IsoQuant.

Cheers,
Ran

[2022-06-06 11:09] andrewprzh commented on #31
Hi Ran

Sure, but it's good to be aware about internal libs, especially since the annotation is the official one. Reported the case to gffutils GitHub https://github.com/daler/gffutils/issues/194

Best
Andrey

[2022-06-06 23:37] andrewprzh commented on #31
Dear @zhou-ran

In fact, it appears that gffutils does raises an error when duplicate ids appear, but for some reason this error reporting was silenced in IsoQuant conversion. Will be fixed in the next release. Thank you!

Best
Andrey

[2022-06-07 09:45] samuelecancellieri commented on #27
hi @andrewprzh
sorry but i accidentaly delete all the logs when cleaning the directory from other jobs.
now i'm running the pipe on the lab server, to see if the problem is due to some HPC job scheduling.

thanks a lot for all the support.

[2022-06-10 09:51] #30 closed

[2022-06-15 12:20] ANeueder opened #32 "aggregated gtf file?"
Hi,
I've been running isoquant succesfully so far. Looks quite good so far.
The isoquant output contains gtf files per input file. These include also the novel transcripts.
Questions: 1) Is there a way to generate a gtf file across all input samples? Something that corresponds to the aggregated counts/TPM per group?
2) What's the nomenclature for the novel transcripts? Does it start with 1 to X fo

[2022-06-15 20:29] ANeueder commented on #32
Hi Andrey,
Great and many thanks for the quick reply.
I will try with what you have suggested. Wasn't clear to me from the manual that --read_group would generate individual reads even when everything is treated as one sample.
Best,
Andreas

[2022-06-19 11:53] ANeueder commented on #32
[isoquant.sh.ts-out.hUCoxs.log](https://github.com/ablab/IsoQuant/files/8935406/isoquant.sh.ts-out.hUCoxs.log)

Hi Andrey,
So, I've tried to run everything as 1 sample (24 bams) with the --read_group file_name option.
Unfortunately, it kills the process at some point, see attached log file.
Happened twice at exactly the same stage.
The only thing I've changed from the individual replica is the bam

[2022-06-19 22:09] andrewprzh commented on #32
Dear Andreas

That's a very weird-looking bug as exception seem to occur outside of IsoQuant code. We searched for similar problems and we possibly may have a fix: https://github.com/ablab/IsoQuant/commit/9b05ecd8345a00b88e25282729a248cce87aa7f8.
Could you try IsoQuant from this GitHub repository (not Conda)? If you need any help write me via email.

Best
Andrey

[2022-06-24 14:08] Drosofriends opened #34 "IsoQuant seems to be freezed/stopped"
Hi, I've run IsoQuant pipeline on long read sequencing giving bam list with 8 samples  as input file. After one hour of running it finished to process chromosomes but it seems to be blocked because it does not proceed (If I take a look of .log output, no errors appear).
If I run 1 single sample IsoQuant pipeline finishes successfully in 40minutes.
Is it matter of time or is it any other kind of pr

[2022-06-28 11:59] andrewprzh commented on #34
Hi!

Could send me the log please so I can take a look at which place it is frozen?
It may happen when a specific gene has a very high coverage, but I don't see that often.

Best
Andrey

[2022-06-28 14:05] Drosofriends commented on #34
Yes of course here the .log:

Command line: /home/Documents/IsoQuant_new/IsoQuant-master/isoquant.py --data_type nanopore --genedb /home/Documents/gtf_genome/Dmel6.32.106.gtf --reference /home/Documents/gtf_genome/Dmel6.32.dna.toplevel.fa --bam_list /home/Documents/Drosophila_bam_files/bam_list.txt -l SAMPLE1 --matching_strategy default --splice_correction_strategy default_ont --model_construction

[2022-07-13 15:42] andrewprzh commented on #34
Dear @Drosofriends

Sorry for the delayed response. I've seen some chromosomes being processed for some time, but have never seen IsoQuant freeze completely. Has your run finished eventually?

By the way, IsoQuant 3 will be released soon, it show work faster than older version.

Best
Andrey

[2022-07-16 22:25] andrewprzh commented on #34
@Drosofriends

32 Gb could possibly be a bit lower than needed, IsoQuant is quite greedy, but yes, new newer version should consume less RAM. You may also reduce the number of threads down to 8 or even 4 - that surely reduces RAM consumption (-t 4).
Hope that helps!

Best
Andrey

[2022-07-19 15:53] lhkelley opened #35 "KeyError with chromosome numbers?"
Hi,

I've been trying to use IsoQuant to count reads from bam files with C. elegans data generated by Nanopore sequencing. However, I keep get the following KeyError, followed by a chromosome number (see below). I think something must be wrong with the GTF annotation file, but I've tried different ones and I'm still not sure what the issue is. Thank you!

isoquant.py --genedb Caenorhabditis_elegan

[2022-07-19 16:20] almiheenko commented on #35
Dear Leanne,

Probably the chromosome names in the GTF file and in the FASTA file do not match (e.g., "V" in the GTF file and "chrV" in the FASTA file). You can try to download another version of the reference genome that corresponds to the annotation (maybe try here https://ensembl.org/Caenorhabditis_elegans/Info/Index). But if you use another reference, you will need to remap reads to it (or use

[2022-07-20 13:15] lhkelley commented on #35
Hi Alla,

That was indeed the problem! Thank you!

[2022-07-21 08:47] #35 closed

[2022-08-02 07:04] #34 closed

[2022-08-08 14:12] imilenkovic commented on #28
Hi Andrey,

Do you maybe have some update on this? I was redoing some analyses and realized a whole isoform is excluded from the final tpm list because of being labelled as inconsistent (alternative_polya_site_left) even when using --transcript_quantification with_inconsistent.

Thanks a lot in advance!
Best,
Ivan

[2022-08-19 17:26] andrewprzh commented on #28
Dear @imilenkovic

Sorry for the delay, been a bit off for quite a while.

I did realize that IsoQuant has additional checks. For example, the isoform is reported only if it has at least one uniquely and consistently assigned read.
This should be fixed in this branch https://github.com/ablab/IsoQuant/tree/isoquant_2.3.1

If you prefer using bioconda, I'll publish this release and also include thes

[2022-08-25 11:40] derijkp opened #36 "TypeError: '<' not supported between instances of 'NoneType' and 'str'"
Hi,

I received the following error when running isoquant 3.0.0alpha:
TypeError: '<' not supported between instances of 'NoneType' and 'str'' error (full traceback below).
Unfortunately I cannot share the data. However, it may help that I could solve (work around) the error by adding checks for None ("if feature_id is not None:" and similar) everywhere data is added to all_features in AssignedFeat

[2022-08-25 12:04] derijkp opened #37 "hanging run due to threading, option to run unthreaded"
Hi,

Some isoquant runs have been hanging indefinitely. strace showed processes were stuck on a futex call, which is indicative of a race condition in python multiprocessing. I tried using 1 thread, which did not solve the problem (still uses a master and 1 worker thread).
Removing threading(multiprocessing) by replaceing the pool starmap by itertools starmap in data_processor.py did solve it thou

[2022-08-29 17:36] andrewprzh commented on #37
Dear Peter

Sorry for the delayed response and thank you for digging into the issue.

Unfortunately, we have not encountered such a behavior ourselves. 3.0 is still an alpha release, so we will at least switch to itertools startmap at least. Thanks a lot for the suggestion, I'll keep you updated!

Best
Andrey

[2022-08-29 17:37] andrewprzh commented on #36
Hi

Would you like me to create a branch where such checks would be inserted?
The error seems familiar and I recall fixing it, could another one though.

Best
Andrey

[2022-08-31 08:10] derijkp commented on #36
Hi,

I worked with the 3.0.0alpha release, not the latest commits, so it may have been fixed there. Having made a local patch is sufficient for me (no branch needed); just reported the error to keep it out of future releases.

Regards,

Peter

[2022-09-01 14:36] andrewprzh commented on #37
Dear @derijkp

We've implemented a proper single-thread mode without using thread pools in 3.0, so you are welcome to try it out.

Best
Andrey

[2022-09-01 14:37] andrewprzh commented on #28
Dear @imilenkovic

Should be fixed in IsoQuant 3.0 now.

Best
Andrey

[2022-09-02 16:13] rsalz opened #38 "AttributeError: 'GeneInfo' object has no attribute 'reference_region'"
I am running isoquant with the following command:

[code]

and I get the following error:

[code]

I can't really tell how to fix this

[2022-09-06 12:12] andrewprzh commented on #38
Dear @rsalz

Thank you for the bug report. The problem is in `--check_canonical` option.
Should be fixed in the latest release https://github.com/ablab/IsoQuant/releases/tag/v3.0.1
Alternatively, you may remove this option.

Best
Andrey

[2022-09-06 14:14] imilenkovic commented on #28
Hi Andrey,

Thanks a lot for letting me know! I will give it a go.

Best,
Ivan

[2022-09-07 09:41] rsalz commented on #38
Hi Andrey
I downloaded the tarball, untarred, went into the folder and ran `pip install -r requirements.txt`

I got the following error:

[code]

I am using the isoquant conda environment built by the same command in the Quick Start.

[2022-09-07 15:53] andrewprzh commented on #38
Dear @rsalz

I'm not sure why numpy installation raises an error.
Just got the message that IsoQuant 3.0.1 is now on bioconda, could you try installing it via conda?

Best
Andrey

[2022-09-08 11:44] rsalz commented on #38
Thanks Andrey, when I updated using conda the pipeline ran to completion. Great!
One question about the output- since I have multiple input samples, I am given one gtf file per sample. I see that in the output folder there are "combined" files containing transcript/gene counts/tpm across all samples but I would really like one combined GTF file too. Is that possible?

[2022-09-08 13:04] andrewprzh commented on #38
Dear @rsalz

Yes, it is, in a slightly different way. I suggest to provide all five files as different replicas of a single sample, i.e. make a file listing all FASTQs/BAMs with their labels
`
m64102e_220102_030451.flnc.fastq:ca
m64102e_220103_091618.flnc.fastq:rp
m64102e_211230_145358.flnc.fastq:sa
m64037e_211217_220808.flnc.fastq:lp
m64102e_211231_205239.flnc.fastq:poly
`
and add `--read_group f

[2022-09-11 21:38] #38 closed

[2022-09-12 13:08] kir1to455 opened #39 "Problem with transcript_quantification"
Hi，andrewprzh
I've been running isoquant succesfully so far. Looks quite good.
Now I have 13 input samples(7 Cancer , 6 Tissue), I want to get the aggregate GTF, and it work on actually and succesfully.

However, I found that the output file  "Ca_Ti_MergeV3.transcript_model_grouped_counts.tsv" which nic/nnic transcripts with all samples transcript_quantification is 0. What's the meaning of these "

[2022-09-13 09:12] andrewprzh commented on #39
Dear @kir1to455

Thank you for the report!

Can any of those "all-zero" transcripts be found in GTF file?
My guess is that "all-zero" transcripts are those that did not pass filters and did not make it to final GTF, but still were printed in the count table. If so, you can simply ignore those. I think this is a minor bug in the output function, will fix!

Best
Andrey

[2022-09-13 12:20] kir1to455 commented on #39
Hi, andrewprzh

Great and many thanks for the quick reply.
I found that these "all-zero" transcripts  not in GTF file, it can be completely ignored.

But I have a new questions about the counts.tsv output file,  I found that these counts are followed by decimals.
Generally speaking, these counts are counts of reads, which should be integers.
![image](https://user-images.githubusercontent.com/87375

[2022-09-19 02:40] kir1to455 opened #40 "Why decimals appear in counts.tsv?"
Hi, andrewprzh
I have a new question about the counts.tsv output file, I found that these counts are followed by decimals.
Generally speaking, these counts are read counts, which should be integers.
![image](https://user-images.githubusercontent.com/87375686/190941599-49727223-a2ea-41fb-a154-ded46fb34cf1.png)
Why do decimals appear in these counts file?
![image](https://user-images.githubuserconte

[2022-09-20 11:12] andrewprzh commented on #40
Hi @kir1to455

I'm sorry for not replying earlier, somehow missed your reply in another thread.

Non-integer counts arise from ambiguous reads that were assigned to several transcripts simultaneously. If you want those to be ignored during quantification you can set `--transcript_quantification unique_only`.

Hope that helps!

Best
Andrey

[2022-09-20 11:14] andrewprzh commented on #39
Yes, all-zeros can be ignored for now, will fix later - thanks for the report!

The second question is answered here https://github.com/ablab/IsoQuant/issues/40, sorry for the delayed response.

[2022-09-20 12:21] #40 closed

[2022-09-28 14:22] rsalz opened #41 "Transcript counts don't include novel transcripts"
I can't find the counts for the transcripts that are not already known. They show up in the "transcript_models" files, but not in the "transcript_counts". `grep -v 'ENST'` gives me nothing. Am I missing something?

[2022-09-28 14:34] andrewprzh commented on #41
Dear @rsalz

I think the reason is the following:
`.transcript_model_counts.tsv` has counts for `.transcript_models.gtf`, in which transcripts have internal IsoQuant names (e,g. `transcript1.chr1.known`).
To understand which reference id corresponds to this transcript check the respected `reference_transcript_id` field in GTF.
For example:
[code]

If I'm wrong, could you provide your command line

[2022-09-28 15:39] rsalz commented on #41
oh thanks, i see them. I was checking the transcript_counts.tsv file.

[2022-09-28 15:39] #41 closed

[2022-10-03 13:25] rsalz opened #42 "output GTF format compliance"
Is there a way you could make the output GTF file semantically compliant?
I get multiple error messages when using [AGAT gff2bed](https://agat.readthedocs.io/en/latest/tools/agat_convert_sp_gff2bed.html) that I never encountered when using TALON gtf output with the same tool. The transcript ids are not preserved when changing formats.
If you could make the GTF compatible with AGAT, then it is like

[2022-10-03 13:47] andrewprzh commented on #42
Dear @rsalz

Could you please provide and example error messages and the GTF itself. I ran AGAT gff2bed on an simple IsoQuant output and it worked just fine.

Best
Andrey

[2022-10-03 17:17] rsalz commented on #42
I used the "transcript_models.gtf" that was output of the following command:
`isoquant.py --reference gencode/GRCh38.primary_assembly.genome.fa.gz --genedb gencode.v39.annotation.gtf --complete_genedb --fastq_list sample_names.txt --read_group file_name --data_type pacbio_ccs --fl_data --check_canonical --count_exons --threads 20 --transcript_quantification with_ambiguous --gene_quantification uni

[2022-10-06 10:13] rsalz commented on #42
i found the format violations in the GTF.
GTF format attributes field should **always** be in the format `attribute1 "value1"; attribute2 "value2";`

1. you have `transcripts: 4;`  in the gene lines to indicate how many transcripts there are for a gene
2. you also have `Canonical=True;` in the transcript lines to say whether transcript is canonical
3. you include a header in the GTF file that star

[2022-10-06 12:44] andrewprzh commented on #42
Dear @rsalz

Thanks a lot! Will fix and update the release.

Regarding point 3 - I find it quite useful to keep this information in GTF (as people may move/send it where the log files are not available). I guess comments are supported by GTF at any line (https://agat.readthedocs.io/en/latest/gxf.html#gtf), am I wrong?

Best
Andrey

[2022-10-10 11:58] andrewprzh commented on #42
Released 3.0.2 with attribute fixes https://github.com/ablab/IsoQuant/releases/tag/v3.0.2

[2022-10-10 14:33] rsalz commented on #42
Thanks! A couple more suggestions:

1. in the transcript_models files, known transcripts are still given identifiers such as 'transcript_238.chr1.known'. I wonder why you would make up identifiers for known transcripts when identifiers are already present e.g. ENST12345678 (and then you put those in another attribute called reference_transcript_id). This is making things a bit difficult for downst

[2022-10-10 16:08] andrewprzh commented on #42
Dear @rsalz

1. The IDs were initially made for LRGASP challenge that had specific requirements for GTF, so kind of an old legacy. I agree that inventing new names for known transcripts decreases usability and can be removed.
2. No specific reasons for using underscore :)
Will do.

[2022-10-14 08:54] fburdet opened #43 "pychopper?"
Hello,

I successfully ran IsoQuant using the ONT reads directly from the sequencing facility.

For many other similar programs, it is recommended to run pychopper first. It seems to remove the primers and correct the direction of the reads.

Is it needed for IsoQuant? I seem to get about 40% reads uniquely mapped, this sounds a bit low (as compared to short reads where I have more experience). Is

[2022-10-16 11:30] andrewprzh commented on #43
Dear @fburdet

Personally, I have never used pychopper on my datasets. IsoQuant does not strongly depend on read directions or adapters, it only checks for polyA tails. I also presume that alignment is not significantly affected by adapters. However, if you happen to run IsoQuant on pychopper-processed data, it would be interesting to compare the results.

40% does seem a bit low. I cannot recall

[2022-10-16 11:54] andrewprzh commented on #36
Please, reopen if the problem is still there.

[2022-10-16 11:54] #36 closed

[2022-10-16 11:54] andrewprzh commented on #27
Please, reopen if the problem still exists.

[2022-10-16 11:54] #27 closed

[2022-10-16 14:10] eevvoor opened #44 "dot-option"
Add option to produce dot formatted output for graphs.

[2022-10-17 08:39] fburdet commented on #43
Dear Andrey,

Thanks for your answer !

Yes, the results seem reasonable. But it could be that more reads could be used indeed.
OR I didn’t count the uniquely mapped correctly. Unfortunately, in the counts generated by isoquant, there seems to be only the ambiguous and no_feature numbers. Is it maybe possible to add more of the stats that are in the log?
For now, I didn’t keep all the logs, so the

[2022-10-17 08:53] fburdet commented on #43
Ah, and here’s the log!

Cheers

From: Frederic Burdet ***@***.***>
Date: Monday, 17 October 2022 at 10:39
To: ablab/IsoQuant ***@***.***>, ablab/IsoQuant ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [ablab/IsoQuant] pychopper? (Issue #43)
Dear Andrey,

Thanks for your answer !

Yes, the results seem reasonable. But it could be that more reads could be used indeed.
OR I didn’t count the uniq

[2022-10-18 07:10] fburdet commented on #43
Hello Andrey,

Thanks for looking into it!

So what would be a better stats of reads that could actually be used for counting?

Weird that the log didn’t go through. I’ll paste the end of it below.

Thanks in advance!

Best,

Fred

2022-07-02 14:22:10,311 - INFO - Read assignment statistics
2022-07-02 14:22:10,311 - INFO - ambiguous: 1405194
2022-07-02 14:22:10,312 - INFO - inconsistent: 3144351
2

[2022-10-20 13:20] andrewprzh commented on #43
Andrey Prjibelski, [20/10/2022 16:12]
@fburdet

The log looks normal, proportions of unique/ambiguous/inconsistent reads seem reasonable for ONT datasets.
Probably, the number of inconsistent reads is slightly higher - what is this organism and whant kind of annoation do you use?

By default, unique and ambiguous reads are used for quantification. You may also use set different quantification stra

[2022-11-19 14:12] rsalz commented on #42
Could you please add exon ids to the gtf output please? The exons have numbers relative to each other per transcript but they cannot be compared between different transcripts so easily without adding exon ids. thanks

[2022-11-25 11:14] rsalz opened #45 "bootstrapping"
Hi Andrey! I have another suggestion.
I am working with a pilot dataset with 1 long read (pacbio) sample per condition. Considering this limitation in data, I am thinking of how best to quantify.
It would be nice if you built in some additional tools for normalization (e.g. TMM), filtering, bootstrapping.
Not sure if this is within the scope of this tool but would be nice. If it's outside the scop

[2022-11-28 15:02] andrewprzh commented on #42
Dear @rsalz

Yes, this is possible. Although I'm currently busy with other projects, I will return to IsoQuant maintainence soon.

For now I suggest to combine chromosome, coordinates and strand, e.g. chr1_100007034_100007156_+, that should uniquiely identify the exon.

Best
Andrey

[2022-11-28 15:58] andrewprzh commented on #45
Dear @rsalz

Unfortunately, this functionality was never on out list, IsoQuant is more of a upstream tool for getting raw counts.
To be honest, I have no experience with 1 replica-per-condition cases. EdgeR vignette has some suggestions on this topic, I guess (section 2.12, https://bioconductor.org/packages/release/bioc/vignettes/edgeR/inst/doc/edgeRUsersGuide.pdf).

Best
Andrey

[2022-11-28 19:12] #45 closed

[2022-11-28 19:23] rsalz commented on #42
I noticed that in novel genes, the strand field in the gtf is `.` . Why?

[2022-11-29 12:15] andrewprzh commented on #42
Could you send me example?
I presume it may happen for mono-exon genes since IsoQuant detects strands based on canonical splice sites.

[2022-11-29 21:01] mcortes-lopez opened #46 "Combine multiple samples novel isoform ids"
Hi,

I ran multiple samples using a sample list, I was expecting to have similar ids for the de novo annotated isoforms, however it seems like each sample has their set of de novo isoforms. It's there any recommendation to find the common de novo isoforms across samples?
I have tried stringtie --merge, however it produces new transcript ids without keeping the information of which isoforms were me

[2022-11-30 13:58] andrewprzh commented on #46
Dear @mcortes-lopez

I suggest to feed all the files as a single sample (e.g. list them in the file without blank lines) and provide
`--read_group  file_name `
option. This will create a single annotation from all sources, but a the same time will do per-sample counts of genes and isoforms (including novel onces).
There are couple example in the manual https://github.com/ablab/IsoQuant#sec3.2

If